
body {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.container {
    width: 100%;
    height: 100%;
}

header {
   width: 100%;
   min-height: 80px;
   background-color: #fff;
   background-image: url('../images/header.jpg');
   background-size: cover; /*la taille de l'image*/
   background-position: top center; /*position de l'image, seule la partie haut visible*/
   background-repeat: no-repeat; /*ne pas repeter l'image*/
   position: fixed;

   color: #000;

   display: flex;
   justify-content: space-between;
   padding: 20px 40px;
   align-items: center;
   
}

header img {
  min-height: 60px;
  width: auto;
}

main {
   width: 100%;
   min-height: 100px;
}

footer {
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}