.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Pour éviter que l'image dépasse du conteneur */
  
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour que l'image couvre tout le conteneur sans déformation */
    object-position: center; /* Centrer l'image dans le conteneur */  
    display: block;
    
}

section .services {
    background-color: #816c0d;
    display: flex;
    flex-direction: column; /********/
    justify-content: center;
    padding-top: 40px; /* espace entre le haut de la section et les colonnes */

}

h1 {
    font-size: 2.5em;
    color: #f39200;
    margin-bottom: 20px;
    text-align: center;
}

 section.services .position-des-colonnes {
     display: flex;
     justify-content: space-around;
  }

  section.services .position-des-colonnes .colonne1 {
      width: 60vw;
      height: 600px;
      background-color: #412d39; 
      margin: 20px;
      display: flex;
      flex-direction: column; /*empliler sous h1 les 2 colonnes-services*/
      align-items: center;
      position: relative; /* permet d indiquer que l'element est un repere pour les elements enfants absolus, càd par rappport au carré bblanc
         */

  }

   section.services .position-des-colonnes .colonne1 .colonnes-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
    gap: 30px; /* espace entre les 2 colonnes-services */
   
}

    section.services .position-des-colonnes .colonne1 .colonnes-services .colonne-restaurant {
    color: #4206e9;
    width: 100%;
    text-align: center;
   
}

    section.services .position-des-colonnes .colonne1 .colonnes-services .colonne-pizzeria {
    color: #b3ecbc;
    width: 100%;
    text-align: center;
}

section.services .position-des-colonnes .colonne1 .colonnes-services h2 {
    margin-bottom: 10px; /*espace entre le titre et le paragraphe*/
}

section.services .position-des-colonnes .colonne1 .colonnes-services p {
    margin: 0; /*supprimer les marges par défaut */
}

   section.services .position-des-colonnes .colonne2 {
      width: 20vw;
      height: 600px;
      background-color: #dce5eb; 
      margin: 20px;
      position: relative; /* permet d indiquer que l'element est un repere pour les elements enfants absolus, càd par rappport au carré bblanc*/
      display: flex;       
  }
    section.services .position-des-colonnes .colonne2 img {
        width: 20vw;
        height: 600px;
        
   
    }



   
  