.hero {
    width: 100%;
   min-height: 500px;
    margin: 0;
    overflow: hidden; /* Pour éviter que l'image dépasse du conteneur */
  
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour que l'image couvre tout le conteneur sans déformation */
    object-position: center; /* Centrer l'image dans le conteneur */  
    
}