.logo {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 50px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}



nav {
    width: 1400px;
    min-height: 200px;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
    
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li a:hover {
    color:#d38e26;
}