.page-menus main {
    margin-top: 20px;
    padding-top: 110px; /* pour compenser le header fixe */
}

.menu-plats {
    background-color: #816c0d;
    display: flex;
    flex-direction: column; /********/
    justify-content: center;
    padding-top: 40px; /* espace entre le haut de la section et les colonnes */
}

.menu-plats h1 {
    font-size: 2.5em;
    color: #f39200;
    margin-bottom: 20px; /* espace entre le titre et les colonnes */
    text-align: center;
}

 .colonnes-plats {
    display: flex;
    gap: 20px; /* espace entre le carousel et le flop */
    justify-content: space-between;
  }

.carousel {
      width: 60vw;
      height: 800px;
      background-color: #FFFFFF; 
      overflow:hidden;/* masquer les débordements */
      position: relative; /* pour positionner les images en absolu par rapport au conteneur carousel */
      display: flex;
      margin: 20px;

}

.carousel div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
   animation: slideShow 16s infinite; /* durée totale de l'animation pour toutes les images */
}

.carousel div:nth-child(1) { animation-delay: 0s; }
.carousel div:nth-child(2) { animation-delay: 4s; }
.carousel div:nth-child(3) { animation-delay: 8s; }
.carousel div:nth-child(4) { animation-delay: 12s; }

/* Animation pour le diaporama, obligatoire pour que le carrousel marche */
@keyframes slideShow {
    0%, 22% { opacity: 1; }
    25%, 100% { opacity: 0; }
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;/* ajuster l'image pour couvrir le conteneur */
}

.flop {
    width: 30vw;
      height: 800px;
      background-color: #dce5eb; 
      margin: 20px;
      display: flex;   
}
.flop img {
    width: 100%;
    height: 100%; 
    object-fit: cover;/* ajuster l'image pour couvrir le conteneur */
}